<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="mydbEntities" connectionString="metadata=res://*/DestinationDbModel.csdl|res://*/DestinationDbModel.ssdl|res://*/DestinationDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=E3480-KBHOGYARI\SQLEXPRESS;initial catalog=mydb;user id=sa;password=Karuna@123$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <add name="mydbEntities" connectionString="metadata=res://*/CFMModel.csdl|res://*/CFMModel.ssdl|res://*/CFMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=E3480-KBHOGYARI\SQL2014;initial catalog=mydb;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>